.query-status-bar {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: var(--lumo-space-m);
    font-size: 0.85rem;
    color: #444;
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    flex-wrap: wrap;
    cursor: pointer;
}
