@import url("./highlight.css");
@import url("./query-status-bar.css");
@import url("./sort-icon.css");
@import url("./advertisement-query-block.css");
@import url("./user-grid.css");
@import url("./user-query-block.css");
@import url("./tailwind-style.css");

.svg-icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}